* {
  margin: auto;
}
table {
  margin-top: 20px;
  width: 70%;
  border-collapse: collapse;
}

td,
th {
  border-bottom: 1px solid #999;
  padding: 0.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  text-align: left;
}
.search {
  margin-top: 60px;
  display: flex;
  justify-items: center;
  align-items: flex-start;
  margin-left: 15%;
  width: 50%;
}
.search > input {
  width: 100%;
  display: flex;
  justify-items: flex-start;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  padding: 10px;
  border-radius: 15px;
  border-color: grey;
  border-width: 1px;
}
.bc {
  background-color: #999;
  border-radius: 10px;
  color: white;
}
.nc {
  background-color: white;
  border-radius: 10px;
  color: black;
}
.deleteButton {
  font-size: 16px;
  color: white;
  background-color: red;
  margin-left: 20%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: 1px red solid;
  padding: 5px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  width: 160px;
}
.text {
  padding-right: 5px;
  display: flex;
  font-size: medium;
  justify-content: center;
  align-items: center;
}
.del {
  color: white;
  display: flex;
  justify-items: center;
  align-items: center;
  width: 40px;
  border-radius: 10px;
  background-color: inherit;
  outline: none;
  border: none;
}
th:first-of-type {
  border-top-left-radius: 10px;
}
th:last-of-type {
  border-top-right-radius: 10px;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 10px;
}
